<!--Header-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <br>
    <ion-title>Cuestionario</ion-title>
    <br>
     <ion-row>
      <ion-icon name="person" item-left style="margin:auto"></ion-icon>
        <p>Bienvenida/o {{user}}</p>
     </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">
<!--Pantalla Principal-->

<!--PROFESOR-->
<div *ngIf="perfil == 'profesor'">
<div *ngIf="valor == ''">
  <h4>Seleccione el curso</h4>

    <button class="button-inner" id="opcion1" style="width: 325px; height: 50px;" ion-button danger (click)="seleccionarCurso()">
      Seleccionar curso &nbsp;&nbsp;<ion-icon name="md-checkmark-circle-outline"></ion-icon>
    </button><br>

<div *ngIf="muestraOpciones == 'muestra'">
  <h4>{{curso}}</h4>

  <h4>¿Qué desea hacer?</h4>

    <button class="button-inner button1-color" id="opcion1" style="width: 325px; height: 60px;" ion-button danger (click)="crearCuestionario()">
      Crear cuestionario &nbsp;&nbsp;<ion-icon name="md-clipboard"></ion-icon>
    </button><br>

    <button class="button-inner button2-color" id="opcion2" style="width: 325px; height: 60px;" ion-button danger (click)="verCuestionario()">
      Ver cuestionarios &nbsp;&nbsp;<ion-icon name="md-search"></ion-icon> 
    </button><br>

    <button class="button-inner button4-color" id="opcion2" style="width: 325px; height: 60px;" ion-button danger (click)="editarCuestionario()">
      Editar cuestionarios creados &nbsp;&nbsp;<ion-icon name="md-create"></ion-icon>
    </button><br>
</div>
</div>

<div *ngIf="valor == 'editar'"> 
    <div class="container">      
      <table class="table">
        <thead style="font-size: 14px;text-align: center;">
          <tr>
            <th class="col-sm-4">NOMBRE</th>
            <td class="col-sm-1">&nbsp;&nbsp;</td>
            <th class="col-sm-3">Modificar</th>
            <td class="col-sm-1">&nbsp;&nbsp;</td>
            <th class="col-sm-3">Borrar</th>
          </tr>
        </thead>
         <!--*ngFor="let datos of datosC" style="text-align: left;"-->
        <tbody> 
          <tr>
          <td><strong>{{ cuestionarioPrueba }}</strong></td>
          <td>&nbsp;&nbsp;</td>
          <td><button class="button-inner button5-color" item-width="10px" ion-button danger (click)="modificarCuestionario()">
                Modificar &nbsp;<ion-icon name="md-create"></ion-icon>
              </button></td>
          <td>&nbsp;&nbsp;</td>
          <td><button class="button-inner button6-color" item-width="10px" ion-button danger (click)="eliminarCuestionario()">
                Borrar &nbsp;<ion-icon name="ios-trash"></ion-icon>
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
      <br><br><button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
        <ion-icon name="md-arrow-round-back"></ion-icon>&nbsp;&nbsp; Volver
    </button><br>
</div>

<div *ngIf="valor == 'ver'"> 
    <div class="container">      
      <table class="table">
        <thead style="font-size: 14px;text-align: center;">
          <tr>
            <th class="col-sm-4">NOMBRE</th>
            <td class="col-sm-1">&nbsp;&nbsp;</td>
            <th class="col-sm-3">Ver</th>
          </tr>
        </thead>
         <!--*ngFor="let datos of datosC" style="text-align: left;"-->
        <tbody> 
          <tr>
          <td><strong>{{ cuestionarioPrueba }}</strong></td>
          <td>&nbsp;&nbsp;</td>
          <td><button class="button-inner button1-color" item-width="10px" ion-button danger (click)="mirarCuestionario()">
                Ver
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br><br><button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
      <ion-icon name="md-arrow-round-back"></ion-icon>&nbsp;&nbsp; Volver
    </button>
</div>

<div *ngIf="valor == 'verCuestionarioProfesor'"> 
  <div *ngIf="tipoElemento == 'checkbox'"> 
  <h4>Cuestionario {{nombreCuestionario}}</h4>

    <h6>{{pregunta1}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta1" value="pregunta1respuesta1">{{pregunta1respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta1" value="pregunta1respuesta2">{{pregunta1respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta1" value="pregunta1respuesta3">{{pregunta1respuesta3}}
    </label><br><br>

    <h6>{{pregunta2}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta2" value="pregunta2respuesta1">{{pregunta2respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta2" value="pregunta2respuesta2">{{pregunta2respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta2" value="pregunta2respuesta3">{{pregunta2respuesta3}}
    </label><br><br>

    <h6>{{pregunta3}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta3" value="pregunta3respuesta1">{{pregunta3respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta3" value="pregunta3respuesta2">{{pregunta3respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta3" value="pregunta3respuesta3">{{pregunta3respuesta3}}
    </label><br><br>

    <h6>{{pregunta4}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta4" value="pregunta4respuesta1">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta4" value="pregunta4respuesta2">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta4" value="pregunta4respuesta3">{{pregunta4respuesta1}}
    </label><br><br>

    <button class="button-inner button1-color" id="pregunta1" ion-button danger (click)="enviarRespuestas()">
      Enviar respuestas &nbsp;&nbsp;<ion-icon name="md-arrow-forward"></ion-icon> 
    </button><br>

    <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
      Cancelar &nbsp;&nbsp;<ion-icon name="md-close-circle"></ion-icon>
    </button>
  </div>

  <div *ngIf="tipoElemento == 'radiobutton'">
  <h4>Cuestionario {{nombreCuestionario}}</h4>

    <h6>{{pregunta1}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta1" value="pregunta1respuesta1">{{pregunta1respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta1" value="pregunta1respuesta2">{{pregunta1respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta1" value="pregunta1respuesta3">{{pregunta1respuesta3}}
    </label><br><br>

    <h6>{{pregunta2}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta2" value="pregunta2respuesta1">{{pregunta2respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta2" value="pregunta2respuesta2">{{pregunta2respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta2" value="pregunta2respuesta3">{{pregunta2respuesta3}}
    </label><br><br>

    <h6>{{pregunta3}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta3" value="pregunta3respuesta1">{{pregunta3respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta3" value="pregunta3respuesta2">{{pregunta3respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta3" value="pregunta3respuesta3">{{pregunta3respuesta3}}
    </label><br><br>

    <h6>{{pregunta4}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta4" value="pregunta4respuesta1">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta4" value="pregunta4respuesta2">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta4" value="pregunta4respuesta3">{{pregunta4respuesta1}}
    </label><br><br>

    <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
      <ion-icon name="md-arrow-round-back"></ion-icon>&nbsp;&nbsp; Volver 
    </button><br>
    </div>
  </div>

<!--Crear cuestionario-->
<div *ngIf="valor == 'crear'">
    <h4>{{curso}}</h4>

    <h4>Nombre del cuestionario</h4>
    <ion-item id="login">
        <ion-label floating>Ingrese el nombre del cuestionario</ion-label>
        <ion-input [(ngModel)] = "nombreCuestionario" type="text" name="name"></ion-input>
    </ion-item><br>

  <h4>¿Qué tipo de elemento usará?</h4>

    <button class="button-inner button1-color" style="width: 325px; height: 50px;" ion-button danger (click)="enviarTipoDeCuestionario('checkbox')">
      <ion-icon name="ios-checkbox-outline"></ion-icon>&nbsp;&nbsp; Checkbox
    </button><br>

    <button class="button-inner button3-color" style="width: 325px; height: 50px;" ion-button danger (click)="enviarTipoDeCuestionario('radiobutton')">
      <ion-icon name="md-radio-button-on"></ion-icon>&nbsp;&nbsp; Radiobutton 
    </button><br>
</div>

<!--Carga de preguntas-->
<div *ngIf="valor == 'cargarPreguntas'">
  <h4>Carga de preguntas</h4>

    <ion-item id="pregunta1">
        <ion-label floating>Ingrese primer pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta1" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="pregunta2">
        <ion-label floating>Ingrese segunda pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta2" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="pregunta3">
        <ion-label floating>Ingrese tercer pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta3" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="pregunta4">
        <ion-label floating>Ingrese cuarta pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta4" type="text" name="name"></ion-input>
    </ion-item><br>

    <button class="button-inner button1-color" style="width: 325px; height: 40px;" ion-button danger (click)="cargarPreguntas()">
      Grabar preguntas &nbsp;&nbsp;<ion-icon name="md-done-all"></ion-icon>
    </button><br>

      <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="cancelarCarga()">
      Cancelar &nbsp;&nbsp;<ion-icon name="md-close-circle"></ion-icon>
    </button>
</div>

<!--Carga de respuestas-->
<div *ngIf="valor == 'cargarRespuestas'">
  <h4>Carga de respuestas</h4>

    <h6>{{pregunta1}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta1respuesta1" type="text" name="pregunta1"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta1respuesta2" type="text" name="pregunta1"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta1respuesta3" type="text" name="pregunta1"></ion-input>
    </ion-item><br>

    <h6>{{pregunta2}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta2respuesta1" type="text" name="pregunta2"></ion-input>
    </ion-item><br>

        <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta2respuesta2" type="text" name="pregunta2"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta2respuesta3" type="text" name="pregunta2"></ion-input>
    </ion-item><br>

    <h6>{{pregunta3}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta3respuesta1" type="text" name="pregunta3"></ion-input>
    </ion-item><br>

        <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta3respuesta2" type="text" name="pregunta3"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta3respuesta3" type="text" name="pregunta3"></ion-input>
    </ion-item><br>

    <h6>{{pregunta4}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta4respuesta1" type="text" name="pregunta4"></ion-input>
    </ion-item><br>

        <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta4respuesta2" type="text" name="pregunta4"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta4respuesta3" type="text" name="pregunta4"></ion-input>
    </ion-item><br>

    <button class="button-inner button1-color" style="width: 325px; height: 40px;" ion-button danger (click)="cargarRespuestas()">
      Grabar respuestas &nbsp;&nbsp;<ion-icon name="md-done-all"></ion-icon>
    </button><br>

    <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="cancelarCarga()">
      Cancelar &nbsp;&nbsp;<ion-icon name="md-close-circle"></ion-icon>
    </button>
</div>

<!--Grabar cuestionario-->
<div *ngIf="valor == 'grabarCuestionario'">

  <h4>¿Desea grabar el cuestionario?</h4><br>

  <div id="list">
    <h5>{{pregunta1}}</h5>
    <ul>
      <li>{{pregunta1respuesta1}}</li>
      <li>{{pregunta1respuesta2}}</li>
      <li>{{pregunta1respuesta3}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta2}}</h5>
    <ul>
      <li>{{pregunta2respuesta1}}</li>
      <li>{{pregunta2respuesta2}}</li>
      <li>{{pregunta2respuesta3}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta3}}</h5>
    <ul>
      <li>{{pregunta3respuesta1}}</li>
      <li>{{pregunta3respuesta2}}</li>
      <li>{{pregunta3respuesta3}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta1}}</h5>
    <ul>
      <li>{{pregunta4respuesta1}}</li>
      <li>{{pregunta4respuesta2}}</li>
      <li>{{pregunta4respuesta3}}</li>
    </ul>
  </div>

  <button class="button-inner button5-color" style="width: 325px; height: 40px;" ion-button danger (click)="guardarCuestionario()">
    Grabar cuestionario &nbsp;&nbsp;<ion-icon name="md-done-all"></ion-icon>
  </button><br>

  <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="cancelarCarga()">
      Cancelar &nbsp;&nbsp;<ion-icon name="md-close-circle"></ion-icon>
  </button>

</div>
</div>

<!--ALUMNO-->
<div *ngIf="perfil == 'alumno'">

<div *ngIf="valor == ''">
  <h3>Seleccione la opción deseada</h3><br>

    <button class="button-inner" id="seleccionar" style="width: 325px; height: 100px;" ion-button danger (click)="seleccionarCuestionarioResp()">
      Cuestionarios cargados &nbsp;&nbsp;<ion-icon name="md-cloud-upload"></ion-icon>
    </button><br>

    <button class="button-inner button2-color" style="width: 325px; height: 40px;" ion-button danger style="width: 325px; height: 100px;" (click)="verRespondidos()">
      Ver respondidos &nbsp;&nbsp;<ion-icon  name="md-search"></ion-icon>
    </button><br>

    <button class="button-inner button4-color" id="mapa" ion-button danger style="width: 325px; height: 100px;" (click)="seleccionarMapa()">
      Cómo llegar a la facultad &nbsp;&nbsp;<ion-icon name="ios-map"></ion-icon>
    </button><br>
</div>

<!--Mapa-->
<div *ngIf="valor == 'muestraMapa'">
  <h4>Como llegar a la Facultad</h4>
      <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="10">
       <agm-marker [latitude]="latitud" [longitude]="longitud" [label]="'UTN Fra'"></agm-marker>
      </agm-map>

    <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
      <ion-icon name="md-arrow-round-back"></ion-icon>&nbsp;&nbsp; Volver 
    </button>
</div>

<!--Ver respondidos-->
<div *ngIf="valor == 'respondidos'">
  <h4>Cuestionario {{nombreCuestionario}}</h4>

  <div id="list">
    <h5>{{pregunta1}}</h5>
    <ul>
      <li>{{pregunta1respuesta1}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta2}}</h5>
    <ul>
      <li>{{pregunta2respuesta1}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta3}}</h5>
    <ul>
      <li>{{pregunta3respuesta1}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta4}}</h5>
    <ul>
      <li>{{pregunta4respuesta1}}</li>
    </ul>
  </div>

  <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
    <ion-icon name="md-arrow-round-back"></ion-icon>&nbsp;&nbsp; Volver  
  </button><br>

   
</div>

<!--Cuestionario-->
<div *ngIf="valor == 'cuestionarioAlumno'">

  <div *ngIf="verCuestionarioAlumno == 'verCuestionarios'"> 
    <div class="container">      
      <table class="table">
        <thead style="font-size: 14px;text-align: center;">
          <tr>
            <th class="col-sm-3">NOMBRE</th>
            <th class="col-sm-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th class="col-sm-3">ACCIÓN</th>
          </tr>
        </thead>
         <!--*ngFor="let datos of datosC" style="text-align: left;"-->
        <tbody> 
          <tr>
          <td><strong>{{ cuestionarioPrueba }}</strong></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <!--<td> <button class="btn btn-primary" (click)="responderCuestionario();"> Responder </button> </td>-->
              <button class="button-inner button1-color" item-width="25px" ion-button danger (click)="responderCuestionario()">
                Responder &nbsp;&nbsp;<ion-icon name="md-arrow-forward"></ion-icon>&nbsp;&nbsp; 
              </button>
          <!--<input type= "hidden" id= "mBorrarC"  (click)=".open()">-->
          </tr>
        </tbody>
      </table>
    </div>
        <br><br><button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
          <ion-icon name="md-arrow-round-back"></ion-icon>&nbsp;&nbsp; Volver 
        </button>
  </div>


 <div *ngIf="verCuestionarioAlumno == 'hacerCuestionario'"> 
  <div *ngIf="tipoElemento == 'checkbox'"> 
  <h4>Cuestionario {{nombreCuestionario}}</h4>

    <h6>{{pregunta1}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta1" value="pregunta1respuesta1">{{pregunta1respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta1" value="pregunta1respuesta2">{{pregunta1respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta1" value="pregunta1respuesta3">{{pregunta1respuesta3}}
    </label><br><br>

    <h6>{{pregunta2}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta2" value="pregunta2respuesta1">{{pregunta2respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta2" value="pregunta2respuesta2">{{pregunta2respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta2" value="pregunta2respuesta3">{{pregunta2respuesta3}}
    </label><br><br>

    <h6>{{pregunta3}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta3" value="pregunta3respuesta1">{{pregunta3respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta3" value="pregunta3respuesta2">{{pregunta3respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta3" value="pregunta3respuesta3">{{pregunta3respuesta3}}
    </label><br><br>

    <h6>{{pregunta4}}</h6>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta4" value="pregunta4respuesta1">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta4" value="pregunta4respuesta2">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="checkbox" name="pregunta4" value="pregunta4respuesta3">{{pregunta4respuesta1}}
    </label><br><br>

    <button class="button-inner button1-color" id="pregunta1" ion-button danger (click)="enviarRespuestas()">
      Enviar respuestas &nbsp;&nbsp;<ion-icon name="md-arrow-forward"></ion-icon> 
    </button><br>

    <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
      Cancelar &nbsp;&nbsp;<ion-icon name="md-close-circle"></ion-icon>
    </button>

    <!--<button class="button-inner button5-color" id="opcion1" ion-button danger (click)="cambiarVistaProfesor()">
      Ver Profesor
    </button><br>-->
  </div>

  <div *ngIf="tipoElemento == 'radiobutton'">
  <h4>Cuestionario {{nombreCuestionario}}</h4>

    <h6>{{pregunta1}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta1" value="pregunta1respuesta1">{{pregunta1respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta1" value="pregunta1respuesta2">{{pregunta1respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta1" value="pregunta1respuesta3">{{pregunta1respuesta3}}
    </label><br><br>

    <h6>{{pregunta2}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta2" value="pregunta2respuesta1">{{pregunta2respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta2" value="pregunta2respuesta2">{{pregunta2respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta2" value="pregunta2respuesta3">{{pregunta2respuesta3}}
    </label><br><br>

    <h6>{{pregunta3}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta3" value="pregunta3respuesta1">{{pregunta3respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta3" value="pregunta3respuesta2">{{pregunta3respuesta2}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta3" value="pregunta3respuesta3">{{pregunta3respuesta3}}
    </label><br><br>

    <h6>{{pregunta4}}</h6>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta4" value="pregunta4respuesta1">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta4" value="pregunta4respuesta2">{{pregunta4respuesta1}}
    </label><br>
    <label class="checkbox-inline">
      <input type="radio" name="pregunta4" value="pregunta4respuesta3">{{pregunta4respuesta1}}
    </label><br><br>

    <button class="button-inner button1-color" id="pregunta1" ion-button danger (click)="enviarRespuestas()">
      Enviar respuestas &nbsp;&nbsp;<ion-icon name="md-arrow-forward"></ion-icon> 
    </button><br>

    <button class="button-inner button6-color" style="width: 325px; height: 40px;" ion-button danger (click)="volver()">
      Cancelar &nbsp;&nbsp;<ion-icon name="md-close-circle"></ion-icon>
    </button>

    </div>
  </div>
  </div>
</div>

</ion-content>
