<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <br>
    <ion-title>Cuestionario</ion-title>
    <br>
     <ion-row>
      <ion-icon name="person" item-left style="margin:auto"></ion-icon>
        <p>Bienvenida/o {{user}}</p>
     </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding class="fondo">
  
<label *ngIf="valor == ''">

  <h4>Seleccione el curso</h4>

    <button class="button-inner" id="opcion1" ion-button danger (click)="seleccionarCurso()">
      Seleccionar curso
    </button><br>

<label *ngIf="muestraOpciones == 'muestra'">
  <h4>{{curso}}</h4>

  <h4>¿Qué desea hacer?</h4>

    <button class="button-inner button1-color" id="opcion1" ion-button danger (click)="crearCuestionario()">
      Crear cuestionario
    </button><br>

    <button class="button-inner button2-color" id="opcion1" ion-button danger (click)="modificarCuestionario()">
      Modificar cuestionario
    </button><br>

    <button class="button-inner button3-color" id="opcion1" ion-button danger (click)="eliminarCuestionario()">
      Eliminar cuestionario
    </button><br>

    <button class="button-inner button4-color" id="opcion2" ion-button danger (click)="verCuestionarios()">
      Ver cuestionarios creados
    </button><br>

</label>
</label>
<label *ngIf="valor == 'crear'">

    <h4>{{curso}}</h4>

    <h4>Nombre del cuestionario</h4>
    <ion-item id="login">
        <ion-label floating>Ingrese el nombre del cuestionario</ion-label>
        <ion-input [(ngModel)] = "nombreCuestionario" type="text" name="name"></ion-input>
    </ion-item><br>

  <h4>¿Qué tipo de elemento usará?</h4>

    <button class="button-inner button1-color" id="opcion1" ion-button danger (click)="enviarTipoDeCuestionario('checkbox')">
      Checkbox
    </button><br>

    <button class="button-inner button2-color" id="opcion1" ion-button danger (click)="enviarTipoDeCuestionario('radiobutton')">
      Radiobutton
    </button><br>

    <button class="button-inner button3-color" id="opcion1" ion-button danger (click)="enviarTipoDeCuestionario('input')">
      Input
    </button><br>

</label>
<label *ngIf="valor == 'cargarPreguntas'">

  <h4>Carga de preguntas</h4>

    <ion-item id="pregunta1">
        <ion-label floating>Ingrese primer pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta1" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="pregunta2">
        <ion-label floating>Ingrese segunda pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta2" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="pregunta3">
        <ion-label floating>Ingrese tercer pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta3" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="pregunta4">
        <ion-label floating>Ingrese cuarta pregunta:</ion-label>
        <ion-input [(ngModel)] = "pregunta4" type="text" name="name"></ion-input>
    </ion-item><br>

    <button class="button-inner button1-color" id="pregunta1" ion-button danger (click)="cargarPreguntas()">
      Grabar preguntas
    </button><br>

</label>
<label *ngIf="valor == 'cargarRespuestas'">

  <h4>Carga de respuestas</h4>

    <h6>{{pregunta1}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta1respuesta1" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta1respuesta2" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta1respuesta3" type="text" name="name"></ion-input>
    </ion-item><br>

    <h6>{{pregunta2}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta2respuesta1" type="text" name="name"></ion-input>
    </ion-item><br>

        <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta2respuesta2" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta2respuesta3" type="text" name="name"></ion-input>
    </ion-item><br>

    <h6>{{pregunta3}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta3respuesta1" type="text" name="name"></ion-input>
    </ion-item><br>

        <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta3respuesta2" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta3respuesta3" type="text" name="name"></ion-input>
    </ion-item><br>

    <h6>{{pregunta4}}</h6>
    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 1:</ion-label>
        <ion-input [(ngModel)] = "pregunta4respuesta1" type="text" name="name"></ion-input>
    </ion-item><br>

        <ion-item id="login">
        <ion-label floating>Ingrese respuesta 2:</ion-label>
        <ion-input [(ngModel)] = "pregunta4respuesta2" type="text" name="name"></ion-input>
    </ion-item><br>

    <ion-item id="login">
        <ion-label floating>Ingrese respuesta 3</ion-label>
        <ion-input [(ngModel)] = "pregunta4respuesta3" type="text" name="name"></ion-input>
    </ion-item><br>

    <button class="button-inner button1-color" id="pregunta1" ion-button danger (click)="cargarRespuestas()">
      Grabar respuestas
    </button><br>

</label>
<label *ngIf="valor == 'grabarCuestionario'">

  <h4>¿Desea grabar el cuestionario?</h4><br>

  <div id="list">
    <h5>{{pregunta1}}</h5>
    <ul>
      <li>{{pregunta1respuesta1}}</li>
      <li>{{pregunta1respuesta2}}</li>
      <li>{{pregunta1respuesta3}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta2}}</h5>
    <ul>
      <li>{{pregunta2respuesta1}}</li>
      <li>{{pregunta2respuesta2}}</li>
      <li>{{pregunta2respuesta3}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta3}}</h5>
    <ul>
      <li>{{pregunta3respuesta1}}</li>
      <li>{{pregunta3respuesta2}}</li>
      <li>{{pregunta3respuesta3}}</li>
    </ul>
  </div>

  <div id="list">
    <h5>{{pregunta1}}</h5>
    <ul>
      <li>{{pregunta4respuesta1}}</li>
      <li>{{pregunta4respuesta2}}</li>
      <li>{{pregunta4respuesta3}}</li>
    </ul>
  </div>

  <button class="button-inner button5-color" id="pregunta1" ion-button danger (click)="guardarCuestionario()">
    Grabar cuestionario
  </button><br>

  <button class="button-inner button6-color" id="opcion1" ion-button danger (click)="cancelarCarga()">
      Cancelar
  </button><br>

</label>
</ion-content>
