page-cuestionario {

h4{
    font-weight: bold;
    text-align: center;
} 

.button-color{
    background-color: #08088A;
} 

.button2-color{
    background-color: #4B088A;
} 

.button3-color{
    background-color: #DF0174;
} 

.fondo{
    background-color: #E0E6F8;
} 

}
